minimum-release-age-exclude[]=react-router
minimum-release-age-exclude[]=@react-router/*
minimum-release-age-exclude[]=posthog-js
minimum-release-age-exclude[]=@posthog/*
minimum-release-age-exclude[]=preact
